html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* убираем линии обводки */
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header{display: block;}

a:visited,
a:active, /* для активной/посещенной ссылке */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  display: block;			/* очень важно!!! */ 
}

ul,
ol,
li {
    list-style: none;   /* удаляем: маркеры + нумерацию */
}

img {
    height: 100%;
    width: 100%;
}
/* ---------------------------------------------------- */

.header {
    width: 100%;
    height: 110px;
    position: fixed;
    
    z-index: 1000;
}

.header__nav {
    width: 100%;
    height: 100%;
    background-color: #00000033;
}

.header__wrap {
    max-width: 940px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    
}

.header__logo {
    width: 147px;
    height: 40px;
    background-image: url(images/logo-desk.svg);
    background-size: cover;
}

.header__menu {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    
}

.header__menu__bttn {
    margin-left: 78px;
}

.header__menu__bttn a {
    font-family: 'Open Sans', 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;

}




/* -----основной контейнер------ */
.main {
    width: 100%;
}
/* секция 1 */
.section__greeting {
    height: 853px;
    width: 100%;
    
    background-image: url(images/header-desk.jpg);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* position: relative; */ /*  */
}



.section__greeting__left {
    width: 300px;
    padding-bottom: 50px;
    
}



.greeting__left__bottom-p1 {
    width: 100%;
    height: 56px;
    border-radius: 28px;
    border: solid #ffffff 3px;
    font-family: 'Open Sans', 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.greeting__left__bottom-p2 {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.greeting__left__bottom-p2 #logo {
    width: 50px;
    margin: 15px;
}

.greeting__left__bottom-p3 {
    width: 100%;
    font-family: 'Open Sans', 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.greeting__left__top {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 120%;
    color: #ffffff;
}

.greeting-mob {
    display: none;
}

.section__greeting__right {
    width: 516px;
    height: 572px;
    background-image: url(images/header-hand-1.png);

    /* position:absolute;
    bottom:0;
    left: 46%;
    z-index: 1; */  /*  */

}

/* секция 2 */

.section__second {
    width: 100%;
    background-color: #E5E5E5;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__second__prg-top, .section__second__prg-bttm {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    color: #283645;
    
}